* {
    
}

body {
    
}

a {
    
}



/* ===================== HEADER ===================== */
header {
    
}

/* ===================== CONTAINER ===================== */
#container {
    
}

/* ===================== SECTIONS ===================== */
section {

}

/* Welcome Section */
#welcome {

}

/* Services Section */
#services {
    
}

/* About Us Section */
#aboutUs {
    
}

/* Featured & Arrivals & Reviews & Blog */
.section {
    
}

/* Banner Section */
.banner {
    
}

/* ===================== FOOTER ===================== */
footer {
    
}

